<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Belarusian2Latin</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
</head>
<body>
	<div class="container">
		<h1>Belarusian2Latin</h1>
		<h2>Convert Belarusan cyrillic text to latin</h2>
		<div class="textarea-container">
			<div class="form-container">
				<form id="form" method="post" action="/">
					<textarea id="input" name="input" placeholder="Type cyrillic text here...">{{ user_input }}</textarea>
				</form>
			</div>
			<div class="result-container">
				<textarea id="output" name="output" readonly>{{ output }}</textarea>
			</div>
		</div>
		<noscript>
			<button type="submit" form="form">Convert</button>
		</noscript>
	</div>
	<script src="{{ url_for('static', filename='js/display.js') }}"></script>
</body>
</html>
